.item {
  width: 500px;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
}

.itemName {
  font-weight: bold;
  padding: 20px;
}

.line {
  border: 3px solid #f7ce18;
}

.deleteBtn {
  float: right;
  padding: 12px 20px;
  border: none;
  background-color: #f7ce18;
  color: #ffff;
  cursor: pointer;
  margin-top: -5px;
  border-radius: 4px;
}

.deleteBtn:hover {
  background-color: hsl(49, 93%, 49%);
}

.completed {
  text-decoration: line-through;
}
